/config.json
/CodeBase.zip
/CodeBasev1.1.zip
/CodeBasev1.2.zip
/translations.zip
/translations 2.zip
/translationsv1.2.zip

/testTranslations/
/OldTranslations/
/translations/
/oldgraphs/
/Comparison-Data/

